<html>

    <head>

        <title>

         To do APP
        </title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/8ddb3cdf81.js" crossorigin="anonymous"></script>
        <style>
            div {
  transform: scale(0.95);
  transform-origin:center;
  background-image:url(views\download.jpeg);
  text-size-adjust: 100px;
}
          body {
            
            cursor: pointer;
            background-image:url(download.jpeg);
            background-color: orange; 
        border: 200px solid black; /* add a 1px solid black border */
        padding: 10px; 
            
          }
          h1{
            transform: scale(0.5);
          transform-origin:center;
            background: linear-gradient(90deg, #FFC0CB 50%, #00FFFF 50%);
            color: black;
          }

  </style>
    </head>
   
    <body>
      <section class="container">
        <div align="center">
              <h1 align="center">CREATE TASK</h1>
      
                  <!-- form to create task -->
              <form action="/create-task" method="POST">
      
                  <table class="table">
                      <thead>
                        <tr class="table-active">
                          <th >Add Task</th>
                          <th >category</th>
                          <th >date</th>
                          <th >time</th>
                        </tr>
                      </thead>
                  
                  
                      <tbody>
                          <tr>
                            <td> <input type="text" name="description"placeholder="What do you need to do?" required></input></th>
                            <td >  <select name="category">
      
                              <option>No Category</option>
                              <option>PERSONAL</option>
                              <option>WORK</option>
                              <option>SCHOOL</option>
                              <option>CLEANING</option>
                              <option>OTHER</option>
      
                          </select></th>
                            <td > <input type="date" name="date" ></th>
                              <td > <input type="time" name="time" ></th>
                            
                          </tr>
                      </tbody>
                  </table>
                  <div  align = "center"><input type="submit" class="btn btn-success" value="ADD TASK">
                        
        </form>
          </section>
              <div>          
                      <h1 align="center">TASKS LIST</h1>
      
                      <form action="/delete-task" method="GET">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Select</th>
                              <th>Task</th>
                              <th>Category</th>
                              <th>due date</th>
                              <th>time</th>
                            </tr>
                          </thead>
                          <% for(let i of task) { %>
                            <tr>
                              <td> <input type="checkbox" name="<%= i._id %>" ></td>
                              <td> <p id="task-description"><%= i.description %></td>
                                <% if (i.category) { %>
                                  <td><p id="task-category">: <%= i.category %></p></td>
                                <% } else { %>
                                  <td><p id="task-category">: No category</p></td>
                                <% } %>
                              <% if (i.date) { %>
                                <td><p id="due-date">: <%= i.date %></p></td>
                              <% } else { %>
                                <td><p id="due-date">: No Deadline</p></td>
                              <% } %>
                              <% if (i.time) { %>
                                <td><p id="time">: <%= i.time %></p></td>
                              <% } else { %>
                                <td><p id="time">: No Limit</p></td>
                              <% } %>
                            </tr>
                          <% } %>
                        </table>
                        
      <div  align = "center"><input type="submit" class="btn btn-danger" value="DELETE TASK">
                      </div>></form>
      
              
                  </div>
                </div>
                
          </body>
    
</html>